<div class="row">
  <div class="col-10 m-auto">
    <h2>Add New Project</h2>
    <form #f="ngForm" (ngSubmit)="onSubmitForm()">
      <div class="form-group row">
        <label class="col-form-label">Title</label>
        <div class="col-6">
          <input type="text" class="form-control form-control-sm" [(ngModel)]="project.title" name="title"  #title="ngModel" required />
          <span class="text-danger" *ngIf="title.touched && title.invalid">Title is required!!!</span>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label">Start Date</label>
        <div class="col-6">
          <input type="date" class="form-control form-control-sm" name="startDate" [(ngModel)]="project.startDate" #startDate="ngModel" required />
          <span class="text-danger" *ngIf="startDate.touched && startDate.invalid">start Date is required!!!</span>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-form-label">Budget</label>
        <div class="col-6">
          <input type="text" class="form-control form-control-sm mb-2" name="budget" #budget="ngModel" [(ngModel)]="project.budget" required />
          <span class="text-danger" *ngIf="budget.touched && budget.invalid">Budget is required!!!</span>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-6">
          <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Insert</button>
        </div>
      </div>
    </form>
  </div>
</div>
