<div class="row">
  <div class="col-10 m-auto">
    <h2 class="display-4">Project Info</h2>
    <div class="d-flex justify-content-end">
      <a class="btn btn-primary btn-sm ml auto" [routerLink]="['/project-add']">
        Add New
      </a>
    </div>
    <table class="table table-bordered mt-2">
      <thead>
        <tr>
          <th>Title</th>
          <th>Start Date</th>
          <th>Budget</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of projects">
          <td>{{p.title}}</td>
          <td>{{p.startDate}}</td>
          <td>{{p.budget}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

